
img{
    display: block;
    margin-top: 10px;
    width: 400px;
    height: auto;

}
input{
    display: block;
    width: 400px;
    margin-top: -50PX;
    border-radius: 20px ;
    margin-bottom: 20px;
    padding: 10px;
    justify-items: center;
    align-items: center;
    border-color: brown;
    
}
 .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aqua;
}
